page-signtype {
.topimg{
    height: 100px;
    margin: 40px 0;
}
.btn{
    background: white;
    color: #074b91;
    height: 60px;
    border-radius: 20px;
    font-size: 20px;
    width: 85%;
    font-weight: bold;
    margin: 30px auto;
    font-family: cairobold ;
}
.toolbar-background {
    background: #ececec !important;
}
.header-ios .toolbar-ios:last-child .toolbar-background-ios{
    display: none;
}
.header-md::after{
    display: none;
}
}
