page-home {
ion-buttons{
        display: none;
}
.back-button.show-back-button {
    display: none !important;
}

.toprow{

    text-align: center;
 

    .menu{
            border: 1px solid gray;
    padding: 0 5px;
    border-radius: 10px;
    background: #074b91;
    color: white;
    }
}

.itemrow{
    margin: 20px 10px;
    border-radius: 20px;
    background-color: white;
    height: 238px;
  
   
}
p{
    font-family: cairoreg;
}

.infop{
    margin: 0;
    font-size: 12px;
    width: 100px;
}
[col-6]{
    p{
       margin-top: 35px;
    }
}
.detp{
    width: 100px;
    color: #074b91;
    font-weight: bold;
}
.imgp{
    margin-top: 17px;
    font-size: 14px;
    color: #074b91;
    font-weight: bold;
    img{
        height: 20px;
        margin: -6px 10px;
    }
}
.imgd{
    margin: auto;
    display: block;
    height: 167px;
   // width: 85%;
    padding-top: 15px;
}
.menuT{color: white;
    font-size: 3.5rem;
    float: right;margin-top: 16px;
display: unset !important}
  .imgLogo{background-color: white;
    border-radius: 14px;
    height: 60px;
    margin-right: 34%;}
  .imgPer{    font-size: 3rem;
    color: white;
    /* margin-right: 55%; */
    margin-right: 15%;
    padding-right: 6px;
    position: relative;
    top: -15px;}
  .imgMail{    font-size: 3rem;
    color: white;
    margin-right: 6%;
    position: relative;
    top: -15px;} 
}
