<ion-menu [content]="nav"side="right">
    <ion-content style="background-color: #bdbdbd;">
      <div class="imgmenu" (click)="toggleclose()">
          <img  src="assets/imgs/menu.png">    
      </div>
     
      <ion-list no-lines>


        <button *ngIf="!type"  class="menubtn" menuClose ion-item (click)="onSearch()">
           <img src="assets/imgs/search.png"><br>البحث
        </button>

          <div *ngIf="!guestUser">
          <!-- <button *ngIf="type" class="menubtn" menuClose ion-item (click)="onNotify()">
              <img src="assets/imgs/notifiy.png"><br>الاشعارات
          </button> -->
        <button  class="menubtn" menuClose ion-item (click)="onEdit()">
            <img src="assets/imgs/account.png"><br>الصفحه الشخصيه
        </button>
        <button *ngIf="type"  class="menubtn" menuClose ion-item (click)="onMyGoods()">
            <img src="assets/imgs/box.png"><br>بضاعاتى
        </button>
        <button *ngIf="type"  class="menubtn" menuClose ion-item (click)="onAddGood()">
            <img src="assets/imgs/box.png"><br>اضافه بضاعه
        </button>
        <button *ngIf="type"  class="menubtn" menuClose ion-item  (click)="onSold()">
            <img src="assets/imgs/sold.png"><br>البضاعه المباعه
        </button>
          <button *ngIf="!type"  class="menubtn" menuClose  ion-item  (click)="onFav()">
            <img src="assets/imgs/star.png"><br>الاهتمامات
        </button>
          </div>
          <button  (click)="logOut()" class="menubtn" menuClose ion-item>
            <img src="assets/imgs/exit.png"><br>الخروج
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
