// http://ionicframework.com/docs/theming/

.content {
    background-color: #ececec;
}
*{
    direction: rtl;
}
.input-cover{
    position: static;
}

@font-face {
  font-family: 'cairoreg';
  src: url('../assets/fonts/Cairo/Cairo.ttf') ;
}

@font-face {
  font-family: 'cairobold';
  src: url('../assets/fonts/Cairo/Cairo-Bold.ttf') ;
}

.back-button.show-back-button {
    display: inline-block;
    transform: rotate(180deg);
}


.toolbar-background-md {
    background: #074b91;
}

.back-button.show-back-button {
    display: none !important;
}

.imgmenu{
    margin: 20px auto;
    width: 40%;
    text-align: center;
}

.menu-inner{
    width: 150px;
}

.menubtn{
    width: 65%;
    margin: 10px auto;
    border-radius: 20px;
    text-align: center;
    font-family:cairoreg;
    height: 115px;
    font-size: 12px;
    .item{
        padding: 0;
    }
    img{
        height: 40px;
        width:40px;
    }
}
.toast-md .toast-wrapper {
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    opacity: 0.6;
    z-index: 10;
    border-radius:10px;
    display: block;
    width: 100%;
    max-width: 700px;
    background: #207de0;
}
.loading-md .loading-wrapper {
    border-radius: 2px;
    max-width: 280px;
    max-height: 90%;
    color: rgba(0, 0, 0, 0.5);
    border-radius:10px;
    opacity: 0.8;

    background: #fafafa;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    padding: 24px;
}
.ion-item-sliding.active-slide.active-options-left ion-item-options[side=left],
ion-item-sliding.active-slide.active-options-right ion-item-options:not([side=left])
{
    width: 13% !important;
    visibility: visible;
}
.ion-item-sliding.active-slide.active-options-right ion-item-options[side=right],
ion-item-sliding.active-slide.active-options-left ion-item-options:not([side=right])
{
    width: 13% !important;
    visibility: visible;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
