page-messages {
.toprow{
    text-align: center; 
}
.message{
text-align: center;
margin: -5px 0;
font-size: 25px;
font-family: cairobold;
color: #074b91;
}

.itemrow{
    border-radius: 35px;
    margin-right: 10px;
    background-color: white;
    height: auto;
    width: 95%;
    box-shadow:0px 7px 0px rgba(128, 128, 128, 0.15);
    margin-top: 12px;
    display: inline-flex
   
}
.inftop{
    margin: 0;
    font-size: 2rem;
    color: #074b91;
}
.info{
    font-size: 1rem;
    margin: 0;
}
.trash{
    width: 8%;
    margin-top: 20px;
    padding-top: -2px;
    margin-right: 6px;
    margin-left: 5px;
   
}
.per{
    padding: 5px;
}
.menuT{color: white;
    font-size: 3.5rem;
    float: right;margin-top: 16px;
display: unset !important}
  .imgLogo{background-color: white;
    border-radius: 14px;
    height: 60px;
    margin-right: 34%;}
}
