page-notifications {


    .toprow{
    height: 60px;
    margin: 10px 20px;
   
    text-align: center;
    ion-icon{
        font-size: 2.4em;
        color: #074b91;
        padding: 0 5px ;
    }

   
}
.menu{
   font-size: 3.5rem;
    padding: 0 5px;
    border-radius: 10px;
    background: #074b91;
    color: white;;
    margin-top: 5px;
    }

.notifiyp{
    text-align: center;
    margin: -5px 0;
    font-size: 25px;
    font-family: cairobold;
    color: #074b91;
    display: block;
    margin: auto;
}

.notrow{
    background-color: white;
    border-radius: 30px;
    width: 90%;
    margin: 20px auto 0;
    [col-2]{
        text-align:center;
    }
    [col-10]{
        text-align: start;
        font-size: 15px;
        color: #4c4b4b;
        font-family: cairoreg;
    } 
}
.myimg{
    height: 50px;
    width: 50px;
    margin: auto;
    background-color: white;
    margin-left: 70px;
    border-radius: 10px;
}
.imgMail{   
    color: white;
    font-size: 3.5rem;
    margin-top: 8px;
  
}
}
