page-favorites {
.toprow{
    height: 60px;
    margin: 10px 5px;
    text-align: center;
    ion-icon{
        font-size: 2.4em;
        color: #074b91;
        padding: 0 5px ;
    }

    .menu{
        border: 1px solid gray;
        padding: 0 5px;
        border-radius: 10px;
        background: #074b91;
        color: white;
    }
}
    
    .notifiyp{
        text-align: center;
        margin: -5px 0;
        font-size: 18px;
        font-family: cairobold;
        color: #074b91;
    }
    .per{
        height: 20px;
        width: 20px;
    }
    .imgitem{
        height: 43px;
        width: 43px;
    }
    .notrow{
        background-color: white;
        border-radius: 30px;
        width: 90%;
        margin: 20px auto 0;
        [col-2]{
            text-align:center;
        }
        [col-10]{
            text-align: start;
            font-size: 15px;
            padding-top: 10px;
            color: #4c4b4b;
            font-family: cairobold;
        } 
    }
}
