page-bigimage {
.imgdiv{
    position:relative;
    height: 500px;
    width: 100%;
    padding: 10px;
    img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
.back-button.show-back-button {
    display: block !important;
}
  .back-button.show-back-button {
    //display: none !important;
    color: white;
  }
}
