page-search {
.toprow{
    height: 60px;
   
   
    text-align: center;
  

}

.notifiyp{
    text-align: center;
    display: block;
    margin: auto;
    font-size: 20px;
    font-family: cairobold;
    color: #074b91;
}

.conrow{
    width: 85%;
    background-color: white;
    height: 60px;
    border-radius: 30px;
    padding: 10px;
    font-family: cairobold;
    margin:30px auto;
    color: #464545;
}

[col-6] {
    ion-icon{
        font-size: 30px;
        color: #074b91;
    }
}

.done{
    width: 100%;
    font-size: 30px;
    color: #074b91;
    height: 60px;
    font-family: cairobold;
}
.menuT{color: white;
    font-size: 3.5rem;
    float: right;margin-top: 16px;
display: unset !important}
  .imgLogo{background-color: white;
    border-radius: 14px;
    height: 60px;
    margin-right: 34%;}
  .imgPer{    font-size: 3rem;
    color: white;
    /* margin-right: 55%; */
    margin-right: 4%;
    padding-right: 6px;
    position: relative;
    top: -15px;}
  .imgMail{    font-size: 3rem;
    color: white;
    margin-right: 14%;
    margin-top: po;
    position: relative;
    top: -15px;} 
    .title-ios{
        img{
            background-color: white;
            border-radius: 14px;
            height: 60px;
            margin-right: 14% !important; 
        }}
}
