<!--
  Generated template for the AddgoodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
        <ion-icon class="menuT" menuToggle name="menu" ></ion-icon>
        <img class="imgLogo" src="assets/imgs/icon.png">

      <ion-icon class="imgPer" name="person" (click)="goPer()"></ion-icon>
        <ion-icon class="imgMail" name="mail" (click)="goChat()"></ion-icon>

        <ion-buttons right (click)="mainPage()">
          <button ion-button  icon-only style="float: left;position: absolute;top: -45px;left: 0px;" >
            <ion-icon style="color:white" ios="ios-arrow-back" md="md-arrow-back"></ion-icon><br>
          </button>
        </ion-buttons>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
 <ion-row class="toprow">
اضافه بضاعه
 </ion-row>


 <form class="forma" #f="ngForm">

    <ion-item class="logitem">
      <ion-input [(ngModel)]="itemName" id="name" name="name" type="text" placeholder="الاسم" required></ion-input>
    </ion-item>

    <ion-item class="logitem">
      <ion-input [(ngModel)]="quantity" id="quantity" name="quantity" type="text" placeholder="الكمية" required></ion-input>
    </ion-item>

    <ion-item class="logitem">
      <ion-input [(ngModel)]="origin" id="oregin" name="oregin" type="text" placeholder="بلد المنشأ" required></ion-input>
    </ion-item>

    <ion-item class="logitem">
      <ion-input [(ngModel)]="price" id="price" name="price" type="number" placeholder="السعر" required></ion-input>
    </ion-item>


    <ion-item class="logitem">
      <ion-textarea clearInput=true [(ngModel)]="description" id="description" name="description" type="text" placeholder="الوصف" required></ion-textarea>
    </ion-item>



   <ion-item class="logitem">

     <ion-label>اختر المدينة</ion-label>
     <ion-select [(ngModel)]="location" name="location" id="location" interface="popover" [selectOptions]="selectOptions"  okText="اختر" cancelText="الغاء" required="true">
       <ion-option (ionSelect)="getSelected(town)"  *ngFor="let town of towns" value=`${{town}}` required>{{town}}</ion-option>
     </ion-select>
   </ion-item>


   <!--<button ion-button block class="addimage" >اضافه صور</button>-->


     <div class="divicons">
     <!-- <ion-icon ion-button block  class="gallery" (click)="useCam(0)" name="images"></ion-icon> -->
     <button ion-button clear (click)="useCam(0)" icon-only><ion-icon class="gallery" name="images" ></ion-icon></button>
     <!-- <ion-icon ion-button block class="gallery" (click)="useCam(1)" name="camera"></ion-icon> -->
     <button ion-button clear (click)="useCam(1)" icon-only><ion-icon class="gallery" name="camera" ></ion-icon></button>

     </div>

     <ion-slides dir="rtl" pager>
      <ion-slide *ngFor="let imag of images;let i=index">
          <ion-icon  (click)="deletImgModal(i)" ios="ios-trash" md="md-trash"></ion-icon>

      <img class="proimg"  src="{{imag}}">

    </ion-slide>
  </ion-slides>

    <button  [disabled]="!f.valid" (click)="submit()" ion-button clear class="enter">تم</button>
</form>
</ion-content>
