
<ion-content >
  
    <div style="text-align: center">
     <img class="topimg" src="assets/imgs/icon.png"height="90px">     
   </div>


<form class="forma">
     <ion-row style="padding:10px ">
        <ion-col col-2><img src="assets/imgs/sign.png"></ion-col>
        <!-- <ion-col col-10 class="regas">تسجيل كمشترى</ion-col> -->
         <ion-col col-10 class="regas">تسجيل كبائع</ion-col>
      </ion-row>
    <ion-item class="logitem">
      <!--<ion-label ></ion-label>-->
      <ion-input [(ngModel)]="Name" id="Name" name="name"  type="text" placeholder="الاسم" ></ion-input>
    </ion-item>

    <ion-item class="logitem">
      <!--<ion-label ></ion-label>-->
      <ion-input [(ngModel)]="Email" id="Email" name="Email"  type="email" placeholder="البريد الالكترونى" ></ion-input>
    </ion-item>
    
       <ion-item class="logitem">
      <!--<ion-label ></ion-label>-->
      <ion-input [(ngModel)]="Phone" id="Phone" name="Phone"  type="email" type="text" placeholder="رقم الهاتف" ></ion-input>
    </ion-item>

       <ion-item class="logitem">
      <!--<ion-label ></ion-label>-->
      <ion-input [(ngModel)]="Password" id="Password" name="Password"  type="password" placeholder="كلمه المرور" ></ion-input>
    </ion-item>

      <ion-item *ngIf="mode" class="logitem">
    
      <ion-input type="text" placeholder="المكان" ></ion-input>
    </ion-item>

      <ion-item *ngIf="mode" class="logitem">
 
      <ion-input  [(ngModel)]="Commercial_Register" id="Commercial_Register" name="Commercial_Register"  type="text" placeholder="السجل التجارى" ></ion-input>
    </ion-item>
    <button ion-button clear (click)="activation()" class="enter">تسجيل</button>
</form>
</ion-content>
