
<ion-header>

    <ion-navbar>
        <ion-title>
<ion-icon class="menuT" menuToggle name="menu" ></ion-icon>
<img class="imgLogo" src="assets/imgs/icon.png">
<ion-icon class="imgMail" name="mail" (click)="goChat()"></ion-icon>
<ion-icon  class="imgPer" name="star" (click)="fav()"></ion-icon>
<ion-buttons right (click)="mainPage()">
<button ion-button  icon-only style="float: left;position: absolute;top: -45px;left: 0px;" >
<ion-icon style="color:white" ios="ios-arrow-back" md="md-arrow-back"></ion-icon><br>
</button>
</ion-buttons>
</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-row class="toprow">
        <ion-col >

            <img src="assets/imgs/mob.png">
            <p class="firstp"> {{res.Category}}</p>
        </ion-col>
    </ion-row>

    <div class="imgdiv">

        <ion-slides dir="rtl" pager  effect=flip>
          <img *ngIf="images==null"  (click)="maximaizeImage('assets/imgs/icon.png')" src="assets/imgs/icon.png">

            <ion-slide *ngFor="let imag of images;let i=index" [attr.data-index]="i">
                <!--<ion-icon  (click)="deletImgModal(i)" ios="ios-trash" md="md-trash"></ion-icon>-->

                <img *ngIf="imag !=null" (click)="maximaizeImage(imag)"  src="{{imag}}">

            </ion-slide>
        </ion-slides>
    </div>
    <div class="infodiv">
      <ion-col col-6 style="text-align: end">
        <ion-icon (click)="favTogle()"  name={{star}}></ion-icon>
      </ion-col>
        <p><img  *ngIf="image!=null" src="{{D}}/profileImages_thump/{{image}}"></p>
        <p><img  *ngIf="image===null" src="assets/imgs/icon.png"></p>

        <ion-row>
            <ion-col col-6>الكمية </ion-col>
            <ion-col col-6><p>{{res.Quantity}}</p></ion-col>
        </ion-row>
      <ion-row>
            <ion-col col-6>وصف المنتج</ion-col>
            <ion-col col-6><p>{{res.Description}}</p></ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-6>المكان</ion-col>
            <ion-col col-6>
                <p class="imgp">
                    <!--<img src="assets/imgs/loc.png">-->
                  {{res.Location}}</p>
            </ion-col>


        </ion-row>
        <ion-row>
            <ion-col col-6>الكمية</ion-col>
            <ion-col col-6>
                <p style="font-size: 16px;">
                    <!--<img src="assets/imgs/loc.png">-->
                  {{res.Quantity}}</p>
            </ion-col>


        </ion-row>
        <ion-row>
            <ion-col col-6>السعر</ion-col>
            <ion-col col-6>
                <p style="font-size: 16px;">
                    {{res.Price}} ريال
                </p>
            </ion-col>
            <!-- <ion-col col-6>
                <ion-icon name="star"></ion-icon>

            </ion-col> -->
            <!--<ion-col col-6 style="text-align: end">-->
            <!--<img class="imgcart"src="assets/imgs/cart.png">-->
            <!--</ion-col>-->
        </ion-row>


        <ion-row>
            <!-- <ion-col col-6></ion-col> -->

            <!-- <ion-col col-6 style="text-align: end">
              <p class="namep" style="color: gray;">  -->
                  <ion-col col-2>
            <img src="assets/imgs/per.png">
        </ion-col>
        <ion-col col-8>
                {{Name}}
        </ion-col>
            <!-- </p> -->
            <!-- </ion-col> -->
            <ion-col col-2>
                 <!--<button ion-button="" (click)="contact()">تواصل</button>-->
                <ion-icon name="ios-chatbubbles" (click)="myFunction()"></ion-icon>
                <!--<ion-icon name="ios-chatbubbles" (click)="contact()"></ion-icon>-->
            </ion-col>
        </ion-row>

      <!--<button (click)="myFunction()">Try it</button>-->

      <div id="myDIV">
        <form class="forma" #f="ngForm">
<ion-input [(ngModel)]="newmsg" id="newmsg" name="newmsg" style="width: 100% ;border:#104c91  solid" required></ion-input>
        <button  [disabled]="!f.valid" style="background-color: #104c91"  (click)="sendMSG()" ion-button>ارسال</button>
        <button (click)="myFunction()" style="background-color: #104c91" ion-button>الغاء</button>
        </form>

      </div>
    </div>
</ion-content>
